
button {
  background-color: orange;
  border-radius: 30px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;

}
h1 {
  color: white;
    font-family: Arial, Helvetica, sans-serif;
}


