
button {
  background-color: orange;
  border-radius: 30px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
