

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

title {
  color: white;
}


.game-button {
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 3px solid #000;
  border-radius: 15px;
  background-color: #ffa500;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: scale(0.4);
}

.game-button:hover {
  transform: scale(0.5); /* Change scaling factor here */
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.4);
  background-color: #ff8c00;
}
