

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}


.button {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
}
