/* Style for the button */

button {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 150px;
}

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Optional style for a hover effect on the button */

button:hover {
  background-color: #E84848;
}
