/* Style for the button */

button {
  background-color: #FF0000;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 130px;
  text-decoration-line: none;
}

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

title {
  color: white;
}

/* Optional style for a hover effect on the button */

button:hover {
  background-color: #E84848;
}



.button-with-image {
  display: flex;
  align-items: center; /* centers the image and text vertically */
  justify-content: center; /* centers the image and text horizontally */
  padding: 10px 20px; /* adjust padding as needed */
  background-color: #007bff; /* button background color */
  color: #fff; /* button text color */
  border: none; /* removes default button border */
}

.button-with-image img {
  width: 20px; /* adjust image width as needed */
  margin-right: 10px; /* adds space between image and text */
}
