

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.button-with-image {
  display: inline-block;
  margin: 20px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 80px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  float: left;
}

.button-with-image:hover {
  background-color: #0056b3;
}

.button-with-image:focus,
.button-with-image:active {
  outline: none;
  background-color: #0056b3;
}

.button-with-image a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2.4em;
}

.button-with-image img {
  width: 70px;
  margin-right: 15px;
  transform: scale(2);
}

.button-with-image span {
  margin-left: 10px;
}
