/* Style for the button */

button {
  background-color: #FF0000;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 130px;
  text-decoration-line: none;
}

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

title {
  color: white;
}

/* Optional style for a hover effect on the button */

button:hover {
  background-color: #E84848;
}

.button-with-image {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.button-with-image img {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 80%;
  height: auto;
}

.button-with-image span {
  display: block;
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: uppercase;
}
