/* Style for the button */

button {
  background-color: #FF0000;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 130px;
  text-decoration-line: none;
}

/* Style for the background */

body {
  background-image: url("https://generations.krea.ai/images/1fa9d8f3-d27d-4682-acd6-c625593e512a.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

title {
  color: white;
}

/* Optional style for a hover effect on the button */

button:hover {
  background-color: #E84848;
}


.game-button {
  display: inline-block;
  position: relative;
  padding: 8px 10px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #f44336; /* Red background color */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.game-button:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #c62828; /* Darker red background color on hover */
}

.game-button img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.game-title {
  font-size: 1rem;
  margin-bottom: 0;
}
